recursive-include src *.py
recursive-include src *.c
recursive-include src *.h
recursive-include test *.py
recursive-include test *.png
recursive-include test *.mng
recursive-include test *.jpg

include MANIFEST README COPYING TODO AUTHORS
