Source: mmpython
Section: devel
Priority: optional
Maintainer: Aubin Paul <debian@outlyer.org>
Build-Depends: debhelper (>= 4.1.60), python2.3-dev, libdvdread3-dev
Standards-Version: 3.5.2

Package: python2.3-mmpython
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
Description: Media Metadata Library for Python
 MMPython is a Media Meta Data retrieval framework. It retrieves
 metadata from mp3, ogg, avi, jpg, tiff and other file formats. Among
 others it thereby parses ID3v2, ID3v1, EXIF, IPTC and Vorbis data
 into an object oriented struture.
